.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

  div {
    width: 50%;

    h1 {
      width: 100%;
      border-bottom: 1px solid white;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }

    ul {
      list-style-type: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      li {
        width: 30%;
        background-color: rgb(142, 13, 99);
        border-radius: 5px;
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
        height: 50px;
        margin-right: 10px;
        cursor: pointer;
      }

      li:hover {
        transform: scale(0.8, 0.8);
        transition: 500ms;
      }
    }
  }

  .image {
    height: 300px;
    width: 35%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media screen and (max-width: 600px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
  
    div {
      width: 100%;

      h1 {
        text-align: center;
      }
  
      ul {
        padding-left: 0px;
  
        li {
          width: 45%;
          margin-right: 0px;
        }
      }
    }
  
    .image {
      height: 300px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin-bottom: 15px;
    }
  }
}