<div class="about">
  <div>
    <h1>About Me</h1>
    <h2>
      Solutiondriven Front and Back End Developer adept at contributing to
      highly collaborative work environment, finding solutions and determining
      customer satisfaction. Proven experience developing consumer-focused
      websites using HTML, CSS, and JavaScript. Built products for desktop and
      mobile app users, meeting highest standards for web design, user
      experience, best practices and speed. Designed and developed web
      applications across multiple APIs, thirdparty integrations and databases.
    </h2>
    <h1>Skills</h1>
    <ul>
      <li>JavaScript</li>
      <li>Typescript</li>
      <li>Angular</li>
      <li>React</li>
      <li>Material UI</li>
      <li>Ecommerce Strategies</li>
      <li>Project Management</li>
      <li>Customer Relations</li>
      <li>Business Management</li>
    </ul>
  </div>

  <div class="image" style="background-image: url('assets/profile.jpeg')"></div>
</div>
