nav {
  color: #6610f2 !important;

  a {
    color: white !important;
  }

  i {
    color: white !important;
  }

  img {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  ul {
    li {
      a {
        text-align: center;
        border-bottom: 1px solid white;
      }
    }
  }

  .icon-container {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
  }

  nav {
    img {
      width: 45%;
    }
  }
}
