<button>
  <span>WELCOME</span>
</button>
<div class="home-page">
  <h1>Welcome to my portfolio!</h1>
  <h2>My name is Peter Basil.</h2>
  <p>
    Here, I showcase my passion for creating innovative solutions and visually
    stunning designs.
  </p>
  <p>
    Whether you're an employer, colleague, or simply a curious visitor, feel
    free to explore my work and get in touch.
  </p>
  <h1>Let's build something amazing together!</h1>

  <audio autoplay>
    <source src="assets/sound.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
</div>
